<md-card [ngClass]="{'active-card': active}">
    <md-card-title>
        <input mdInput type="time" value="17:36" class="time">
        <span>
            <button disableRipple md-icon-button class="card-menu-button">
                <md-icon>{{active ? 'pause' : 'play_arrow'}}</md-icon>
            </button>
            <button disableRipple md-icon-button class="card-menu-button">
                <md-icon>{{pinned ? 'star' : 'star_border'}}</md-icon>
            </button>
        </span>
    </md-card-title>
    <md-card-subtitle>
        <md-select placeholder="Select a category" class="category-container">
            <md-option value="Documentation">Documentation</md-option>
            <md-option value="Development - Extra">Development - Extra</md-option>
            <md-option value="Development - Web">Development - Web</md-option>
            <md-option value="Development - Server">Development - Server</md-option>
        </md-select>
    </md-card-subtitle>
    <md-input-container>
        <textarea mdInput cols="30" rows="10">This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added.</textarea>
    </md-input-container>
</md-card>