:host {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 350px;
    padding: 10px;
    
    md-card {
        width: 100%;
        padding: 10px;
    }
    textarea, md-input-container {
        width: 100%;
        font-size: 0.9em;
    }
    md-card-title {
        display: flex;
        justify-content: space-between;
    }
    md-card-title {
        padding: 0;
    }
    .card-menu-button {
        width: 20px;
        height: 20px;
    }
    .card-menu-button:hover {
        color: grey;
    }
    .time-container {
        display: flex;
    }
    .category-container {
        width: 100%;
    }
}
