<md-card>
    <md-card-title>
        <span>
            <button disableRipple md-icon-button class="card-menu-button">
                <md-icon>cancel</md-icon>
            </button>
            <button disableRipple md-icon-button class="card-menu-button">
                <md-icon>pause_circle_outline</md-icon>
            </button>
        </span>
        <span>17m 53s</span>
    </md-card-title>
    <md-card-subtitle>Development - Server</md-card-subtitle>
    <md-input-container>
        <textarea mdInput cols="30" rows="10">This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added. This is some sample text that will be added.</textarea>
    </md-input-container>
</md-card>