:host {
    .title {
        font-size: 1.8em;
    }
    .toolbar-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .timer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .fab-new {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 100;
    }
}