<md-toolbar color="primary" style="position: relative;">
  <div class="toolbar-container">
    <span class="title">Time Logger</span>
    <div>
      <button md-icon-button mdTooltip="Push all times" [mdTooltipPosition]="'below'">
      <md-icon>file_upload</md-icon>
    </button>
      <button md-icon-button mdTooltip="Fetch jobs" [mdTooltipPosition]="'below'">
      <md-icon>cloud_download</md-icon>
    </button>
      <button md-icon-button>
      <md-icon>settings</md-icon>
    </button>
    </div>
  </div>
</md-toolbar>
<div>
  <div class="timer-container">
    <app-timer></app-timer>
    <app-timer></app-timer>
    <app-timer></app-timer>
  </div>
</div>
<md-tab-group>
  <md-tab label="Scouts">
    <div class="timer-container">
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
    </div>
  </md-tab>
  <md-tab label="Market Guide App">
    <div class="timer-container">
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
      <app-timer></app-timer>
    </div>
  </md-tab>
</md-tab-group>