:host {
    .title {
        font-size: 1.8em;
    }
    .toolbar-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .timer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}