<md-toolbar color="primary" style="position: relative;">
  <div class="toolbar-container">
    <span class="title">Meme Machine</span>
    <div>
      <button md-icon-button mdTooltip="Push all times" [mdTooltipPosition]="'below'">
      <md-icon>file_upload</md-icon>
    </button>
      <button md-icon-button mdTooltip="Fetch jobs" [mdTooltipPosition]="'below'">
      <md-icon>cloud_download</md-icon>
    </button>
      <button md-icon-button>
      <md-icon>settings</md-icon>
    </button>
    </div>
  </div>
</md-toolbar>
Pinned Timers go here
<md-tab-group>
  <md-tab label="Scouts">
    <h1>Scouts</h1>
    <button md-raised-button color="accent">
    Stuff
  </button>
    <button md-raised-button color="accent">
    More Stuff
  </button>
  </md-tab>
  <md-tab label="Market Guide App">
    <h1>Some more tab content</h1>
    <button md-raised-button color="accent">
    Stuff
  </button>
    <button md-raised-button color="accent">
    More Stuff
  </button>
  </md-tab>
</md-tab-group>