@import './assets/styling/material.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title-font {
    font-family: 'Pacifico', sans-serif;
}